<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1>THINGS YOU NEED TO DO</h1>
    </header>
    <form class="" action="/toDoList" method="post">
      <button type="submit" name="button"></button>
      <input type="text" name="toDoAdd" placeholder="What do you want to do?" value="">
      <ul>
        <h2>You need to get these done... Better get started!</h2>
        {{#toDoList}}
        <li>
          <button type="button" id="inputBtn" name="button"></button>
          <span id="listAdd">{{item}}</span>
          </li>
        {{/toDoList}}
      </ul>
      <ul>
        <h2>Look at all you've done!</h2>
        <li>
          <!-- need to create a name and mustache notation to get items to move to this list after they've been completed
        Maybe push items on EventListener???  -->
        </li>

      </ul>
    </form>
  </body>
</html>
